body {
  font-family: Helvetica;
}

span {
  font-weight: bold;
  color: blue;
}

.header {
  background-image: url('images/pattern.jpeg');
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

.item h1 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}
